body {
  background: #020617;
  color: white;
  font-family: "Segoe UI", Arial;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

.hero {
  text-align: center;
  margin-bottom: 70px;
}

.hero h1 {
  font-size: 42px;
}

.tagline {
  color: #818cf8;
  font-size: 18px;
}

.hero-desc {
  color: #94a3b8;
  margin-bottom: 25px;
}

.resume-btn {
  background: #22c55e;
  padding: 10px 22px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

section {
  margin-bottom: 60px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.muted {
  color: #94a3b8;
}

.work-btn {
  padding: 12px 30px;
  background: #6366f1;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.video-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-box iframe {
  width: 260px;
  height: 460px;
  border-radius: 18px;
  border: none;
}

.close-btn {
  margin-top: 15px;
  background: #ef4444;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  color: white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 12px;
}

.skills-grid span {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.links a {
  margin-right: 15px;
  color: #818cf8;
  text-decoration: none;
}